{% extends 'portfolio/base.html' %}


{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to my page</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<br />
{% load static %}
<div class="text-center">
    <img class="img-fluid" src="{% static 'portfolio/profile.jpeg' %}">
</div>
<br />
<h2>Projects </h2>
<hr style="width:100%;text-align:left;margin-left:0">
<div class="card-deck">

    {% for project in projects %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.description}}</p>
            {% if project.url %}
            <a href="{{project.url}}" class="btn btn-primary">Go to Project Link</a>
            {% endif %}
        </div>
    </div>

    {% endfor %}


</div>
<br />

{% endblock content %}
